{% extends 'base.html' %}

{% block css %}
    .form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 600px;
    overflow: hidden;
    z-index: 2;
    }

    .two-forms {
    display: flex;
    gap: 10px;
    }

    .input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    }

    .input-field:hover, .input-field:focus {
    background: rgba(255, 255, 255, 0.25);
    }

    .submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
    }

    .submit:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    }

    .two-col {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
    }

    .two-col .one {
    display: flex;
    gap: 5px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    }

    .dob-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    }

    #dob {
    padding-bottom : 15px}
{% endblock %}


{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-box">
            <div class="login-container" id="register">
                <div class="top">
                    <header>Register</header>
                </div>
                <div class="two-forms">
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="First Name" name="first_name"
                               value="{{ first_name }}" required>
                        <i class="bx bx-user"></i>
                    </div>
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Last Name" name="last_name"
                               value="{{ last_name }}" required>
                        <i class="bx bx-user"></i>
                    </div>
                </div>
                <div class="two-forms">
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Email Address" name="email"
                               value="{{ email }}" required>
                        <i class="bx bx-user"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" class="input-field" placeholder="Password" name="password" required>
                        <i class="bx bx-lock-alt"></i>
                    </div>
                </div>
                <div class="input-box">
                    <div class="form-group">
                        <select id="gender" name="gender">
                            <option value="M" {% if gender == "M" %}selected{% endif %}>Male</option>
                            <option value="F" {% if gender == "F" %}selected{% endif %}>Female</option>
                            <option value="O" {% if gender == "O" %}selected{% endif %}>Other</option>
                        </select>
                        <i class="bx bx-body"></i>
                    </div>
                </div>
                <div class="two-forms">
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Phone Number" name="phone"
                               value="{{ phone }}" required>
                        <i class="bx bx-phone"></i>
                    </div>
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Address" name="address"
                               value="{{ address }}" required>
                        <i class="bx bx-location-plus"></i>
                    </div>
                </div>
                <!-- New input box for date of birth -->
                <div class="two-forms" id="dob">
                    <div class="input-box" style="position: relative;">
                        <input type="date" class="input-field" placeholder="Date of Birth" name="dob" value="{{ dob }}"
                               required>
                        <span class="dob-icon">DOB</span>
                    </div>
                </div>
                <div class="input-box">
                    {% if modify %}
                        <input type="submit" class="submit" value="Update">
                    {% else %}
                        <input type="submit" class="submit" value="Register">
                    {% endif %}
                </div>
                {% if error %}
                    <div id="error" class="error">{{ error }}</div>
                {% endif %}
            </div>
        </div>
    </form>

    <script>
        setTimeout(function () {
            var errorDiv = document.getElementById('error');
            if (errorDiv) {
                errorDiv.style.display = 'none';
            }
        }, 3000);
    </script>

{% endblock %}
